{% extends 'dashboard.html.twig' %}
{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}


<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Détails Liste de diffusion  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    
<h1>  Liste de diffusion : {{ mailinglist.mailingListName}} </h1>

<h3> Client : {{ mailinglist.client.clientName }} </h3>

<br>
<br>

<h3> Destinataires en copies </h3>

<br>
<br>
<table class='table'>
     <tr>
         <td> # </td>
         <td> Email </td>
         <td> Description </td>
         <td> Department </td>
         <td> Action </td>
     </tr>

      {% for mail in mailinglist.mailCC %}
         <tr>
             <td> {{ mail.id }}</td>
             <td> {{ mail.email }}</td>
             <td> {{ mail.description }}</td>
             <td> {{ mail.department }} </td>
             <td> delete </td>
         </tr>
      {% endfor %}

</table>

                  </div>
                  </div>
                </div>
              </div>
        </div>


{% endblock %}

  {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}