<!DOCTYPE html>
<html lang="en">
  <head>
     {% block header %}  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
    {% endblock %}
    
    {% endblock%}
  </head>

  <body class="login">
      


      <header> 
        <div class="login_header"> 
            <img class="logo_cds" src="http://club-commerce-connecte.com/wp-content/uploads/2016/11/Cdiscount-Logo-2016-1.png">
        </div>
      </header>
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
         
        <div class="animate form login_form">
                         {% image '@AppBundle/Resources/public/images/login-logo.png' %}
                          <img src="{{ asset_url }}" alt="logo" class="login_logo" />
                          {% endimage %}
          <section class="login_content">
           {% block body %}

            {% endblock %}
          </section>
        </div>

      </div>
    </div>
        
  </body>
</html>
