{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
  {% block stylesheets %}
	  
	{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	  
	 {% endblock %}


{% endblock %}

{% block body %}




<div class="right_col" role="main">
<div class="col-md-12">
	<div class="x_panel">
	  <div class="x_title">
		<h2> Timeline </h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href="#">Settings 1</a>
			  </li>
			  <li><a href="#">Settings 2</a>
			  </li>
			</ul>
		  </li>
		  <li><a class="close-link"><i class="fa fa-close"></i></a>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
			
<ul class="timeline">
		
			<li>
					<div class="timeline-badge danger"><i class="glyphicon glyphicon-flash"></i></div>
					<div class="timeline-panel">
					  <div class="timeline-heading">
						<h4 class="timeline-title">Déclaration d'incident </h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ incident.dateCreation | date("F jS \\a\\t g:ia","Europe/Paris")}} </small></p>
					  </div>
					  <div class="timeline-body">
						  <h2> {{ incident.titre }}  </h2>
						<p>  Impact : {{ incident.impact.nomImpact }}  <br>
							 Declaré par : Houssem Balti
						</p>
						<hr class="half-rule"/>
						<p>
							 <span style="color:green"> <a href="{{path('incident_update',{'idIncident' : incident.Id,  })}}"> Mettre à jour </a> </span>
						</p>
					 </div>
				 </div>
			</li>
		
		{% for  action in history %}
			{% if action.realizedAction is defined %}
					        <li>
						<div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
						<div class="timeline-panel">
						  <div class="timeline-heading">
							<h4 class="timeline-title"> Point de situation </h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | date("F jS \\a\\t g:ia","Europe/Paris")}}  </small></p>
						  </div>
						  <div class="timeline-body">
							<p> Action réalisée : {{ action.realizedAction }} <br>
							{% if action.nextAction is defined  %}
								{{ action.nextAction }}
								<br>
							{% endif %}
							
							{% if action.resolutionDate is defined  %}
								 Date de résolution : {{ action.resolutionDate | date("F jS \\a\\t g:ia","Europe/Paris")}}
								<br>
							{% else %}
								 Date de prochain POS : {{ action.nextPosDate | date("F jS \\a\\t g:ia","Europe/Paris")}} <br>
							{% endif %}
								réalisé par : Houssem Balti
								
								
							
							
							
							
								
							</p>
							<hr class="half-rule"/>
							
						  </div>
						</div>
					  </li>
		{% else  %}
			    <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-envelope"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Envoi de mail </h4>
			  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | date("F jS \\a\\t g:ia","Europe/Paris")}}  </small></p>
            </div>
            <div class="timeline-body">
             <p>
				{% set mails = action.destEnCopie | split(';') %}
			 <h5> Destinataires : </h5> <br>  {% for mail in mails %}
				 {{ mail }},
				{% endfor %}
				<br/> 
				 <h5> Destinataires d'impact : </h5>
				{% set mails = action.destImpact | split(';') %}
				{% for mail in mails %}
				 {{ mail }},
				 {% endfor %}
				
				<br/>
				<hr class="half-rule"/>
				<div class="modal fade bs-example-modal-lg" id="{{action.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-lg" role="document">
						  <div class="modal-content">
							{{ action.contenu | raw }}
						  </div>
						</div>
					  </div>

					
				
			 </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{action.id}}">
			Afficher mail 
		</button>
            </div>
        </li>
	{% endif %}
	

{% endfor %}
		
		{% if incident.statut == "Résolu" %}
			
		<li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"> Incident Résolu </h4>
			  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ incident.dateFin | date("F jS \\a\\t g:ia","Europe/Paris")}}  </small></p>
            </div>
            <div class="timeline-body">
              <p> L'incident est a présent résolu </p>
            </div>
          </div>
        </li>
			
		{% endif %}
		
        
 

    </ul>

    


    </div>
</div>
</div>
</div>



<!-- Modal -->


{% endblock %}

	{% block javascripts %}
		{% javascripts '@AppBundle/Resources/public/js/*' %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	  {% endblock %}


