{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
	  
	{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	  
	 {% endblock %}


{% endblock %}

{% block body %}

<div class="right_col" role="main">
<div class="col-md-12">
	<div class="x_panel">
	  <div class="x_title">
		<h2>Racourcis</h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href="#">Settings 1</a>
			  </li>
			  <li><a href="#">Settings 2</a>
			  </li>
			</ul>
		  </li>
		  <li><a class="close-link"><i class="fa fa-close"></i></a>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
			
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<a href="/incident/new">
	<div class="tile-stats">
	  <div class="icon">  <i class="fa fa-plus"></i> </div>
	  <div class="count">&nbsp</div>
	  <h3>Ajouter Incident</h3>
	  <p>Ajouter incident Metier/Application</p>
	</div>
				 </a> 
			  </div>
	
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<div class="tile-stats">
	  <div class="icon"><i class="fa fa-bug"></i></div>
	  <div class="count"> {{ incidents | length }}</div>
	  <h3> Incidents En cours </h3>
	  <p>{{incidents | length}} incidents sont en cours</p>
			</div>
		</div>
		  
		  <a href="/template/list">
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<div class="tile-stats">
	  <div class="icon"><i class="fa fa-envelope"></i></div>
	  <div class="count">  &nbsp </div>
	  <h3> Mail d'information  </h3>
	  <p> afficher les templates prédifinies </p>
			</div>
		</div>
		  </a>
		  
	  </div>
	</div>
			  </div>
	
	<!-- Liste des incidents en cours -->
			<div class="col-md-12">
	<div class="x_panel">
	  <div class="x_title">
		<h2>Incidents en cours</h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href="#">Settings 1</a>
			  </li>
			  <li><a href="#">Settings 2</a>
			  </li>
			</ul>
		  </li>
		  <li><a class="close-link"><i class="fa fa-close"></i></a>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
			
			<table class="table">
		  <thead>
			<tr>
			  <th>Titre</th>
			  <th>Metiers Impactés</th>
			  <th> Prochain Pos prévue </th>
			  <th> Impact </th>
			  
			  <th> Actions </th>
			</tr>
		  </thead>
		  <tbody>
			
			
			 {% if incidents %}
				 {% for incident in incidents %}
					<tr>
					 <td> {{ incident.Titre }}</td>
					 <td>
						 {% for metier in incident.impactMetier %}
							<span class="tag">{{ metier.nomMetier }}</span>
						 {% endfor %}
						 {% if application is defined %}
						 {% for application in incident.impactApplication %}
							<span class="tag">{{ application.nomApplication }} - {{application.metiers.get(0).getNomMetier()}}</span>
						 {% endfor %}
					 {% endif %}
					 </td>
					 <td>
						{{ incident.dateFin | date("F jS \\a\\t g:ia","Europe/Paris") }}
					 </td>
					 <td>
							{{ incident.impact.nomImpact }}
					 </td>
					 <td>
						<a href="{{path('pos_add',{'idIncident' : incident.Id })}}"" class="btn btn-primary btn-xs"><i class="fa fa-info"></i> POS </a>
						<a href="{{path('diffusion_send',{'idIncident' : incident.Id, 'idClient' :  incident.client.getId() })}}" class="btn btn-info btn-xs"><i class="fa fa-envelope"></i> Email </a>
						<a href="{{path('incident_update',{'idIncident' : incident.Id, 'idClient' :  incident.client.getId() })}}" class="btn btn-info btn-xs"><i class="fa fa-bug"></i> Modifier </a>
						
					 </td>
					 
		  
	
	
		{% endfor %}
	{% endif %}
		

		  </tbody>
		</table>
		  
		  
	  </div>
	</div>
			  </div>
	
	
	<!-- fin liste des incidents en cours -->

	</div>



  {% endblock %}


	{% block javascripts %}
		{% javascripts '@AppBundle/Resources/public/js/*' %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	  {% endblock %}
