{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
	  
	{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	  
	 {% endblock %}


{% endblock %}

{% block body %}

<div class="right_col" role="main">
<div class="col-md-12">
	<div class="x_panel">
	  <div class="x_title">
		<h2>Paramètres</h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href="#">Settings 1</a>
			  </li>
			  <li><a href="#">Settings 2</a>
			  </li>
			</ul>
		  </li>
		  <li><a class="close-link"><i class="fa fa-close"></i></a>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
		
			<!-- Gestion des utilisateurs -->
			
		<div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_390">
                          <div class="x_title">
                            <h2> Utilisateurs </h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i style="font-size:50px;color: #009688" class="fa fa-users"></i>
                            </div>

                            <h3 class="name_title">Gérer les utilisateurs </h3>
                            <p> Ajouter/Supprimer utilisateur </p>

                            <div class="divider"></div>

                           <ul style="list-style: none">
							<li> <a href="{{path('user_add')}}" class="btn btn-success btn-sm"> Gérer les utilisateurs </a>  </li>
							
						   </ul>

                          </div>
                        </div>
                      </div>
		
		<!-- Gestion des métiers -->
		
		<div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_390">
                          <div class="x_title">
                            <h2> Metiers </h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-area-chart"></i>
                            </div>

                            <h3 class="name_title">Gérer les métiers </h3>
                            <p> Ajouter/Supprimer metiers </p>

                            <div class="divider"></div>

                           <ul style="list-style: none">
							<li> <a href="{{path('metier_add')}}" class="btn btn-success btn-sm"> gérer les métiers </a>  </li>
							
						   </ul>

                          </div>
                        </div>
                      </div>
		
		<!--  Gestion des applications -->
		
			<div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_390">
                          <div class="x_title">
                            <h2> Applications </h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-desktop"></i>
                            </div>

                            <h3 class="name_title">Gérer les applications </h3>
                            <p> Ajouter/Supprimer applications </p>

                            <div class="divider"></div>

                           <ul style="list-style: none">
							<li> <a href="{{path('application_add')}}" class="btn btn-success btn-sm"> Gérer les applis  </a>  </li>
							
						   </ul>

                          </div>
                        </div>
                      </div>
			
			<!-- Gestion des clients -->
			
					
			<div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_390">
                          <div class="x_title">
                            <h2> Clients </h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-child"></i>
                            </div>

                            <h3 class="name_title">Gérer les clients </h3>
							<br>
                            <p> Ajouter et modifier clients </p>

                            <div class="divider"></div>

                           <ul style="list-style: none">
							<li> <a href="{{path('client_add')}}" class="btn btn-success btn-sm"> gérer les clients  </a>  </li>

							
						   </ul>

                          </div>
                        </div>
                      </div>


			<div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_390">
                          <div class="x_title">
                            <h2> Impacts </h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-crosshairs"></i>
                            </div>

                            <h3 class="name_title">Gérer les impacts </h3>
                            <p> Ajouter et modifier impacts </p>

                            <div class="divider"></div>

                           <ul style="list-style: none">
							<li> <a href="{{path('impact_add')}}" class="btn btn-success btn-sm"> gérer les impacts  </a>  </li>
							
						   </ul>

                          </div>
                        </div>
                      </div>
			
			
			
						<div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_390">
                          <div class="x_title">
                            <h2> Impacts </h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-bookmark-o"></i>
                            </div>

                            <h3 class="name_title">Gérer les categories  </h3>
                            <p> Ajouter et modifier les categories </p>

                            <div class="divider"></div>

                           <ul style="list-style: none">
							<li> <a href="{{path('categorie_add')}}" class="btn btn-success btn-sm"> gérer les categrories  </a>  </li>
							
						   </ul>

                          </div>
                        </div>
                      </div>

		  
	  </div>
	  </div>
	  </div>
	</div>
</div>
	





  {% endblock %}


	{% block javascripts %}
		{% javascripts '@AppBundle/Resources/public/js/*' %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	  {% endblock %}
