{% extends 'loginTemplate.html.twig' %}

{% block header %}
	This is a title
{% endblock %}

{% block body %}

		<h1> test </h1>

	{{ form_start(addForm) }}
	{{ form_widget(addForm) }}
	{{ form_end(addForm) }}



	{% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
	{% endblock %}

{% endblock %}
