{% extends 'loginTemplate.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}

		<h1> Les impacts </h1>

    <table class="table">
      <tr>
        <td> # </td>
        <td> NOM IMPACT </td>
        <td> Configuration </td>
        <td> ACTION </td>
      </tr>

    {% for impactapplication in applications %}
     <tr>
        <td> {{ impactapplication[0].Id }} </td>
        <td>  {{ impactapplication[0].nomImpactApplication }} </td>
        <td>
          <ul>
          {% for application, impact in impactapplication[0].Configuration %}
          <li> {{ application }} : {{impact}} </li>
          {% endfor %}
          </ul>
          </td>
        <td> <a href="{{path('incident_add_custom_appli',{'idConfig' : impactapplication[0].Id })}}"> Utiliser la Configuration </a> </td>

      </tr>
      {% endfor %}


	{% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
	{% endblock %}

{% endblock %}
