{% extends 'loginTemplate.html.twig' %}

{% block header %}
{{ parent() }}

{% endblock %}

{% block body %}
{{ parent() }}




     {{ form_start(form) }}
      <h1>Se connecter </h1>

      <div>
        {{ form_widget(form.userName, {'attr' : {'class' : 'form-control', 'placeholder' : 'Psoeudo' } }) }}
      </div>
      <div>
         {{ form_widget(form.Password, {'attr' : {'class' : 'form-control', 'placeholder' : 'Mot de passe' } }) }}
      </div>
      <div>
        {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-default submit'} }) }}
      </div>

              <div class="clearfix"></div>

              <div class="separator">
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1> Outil de diffusion Cdiscount © </h1>
                  <p>©2016 All Rights Reserved. Cdiscount!</p>
                </div>
              </div>
       {{ form_end(form) }}


	{% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
	{% endblock %}

{% endblock %}
