{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>



  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}
{{ parent() }}

<!-- Intégration du thème  -->
{{ form_start(addForm) }}
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Gestion des utilisateurs</h3>
              </div>

              <div class="title_right">

              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajouter Utilisateur</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                      <!--  Affichage du contenu de la page -->

                      <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    {{ form_widget(addForm.userName, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom de l\'utilisateur' } }) }}
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                  </div>
                </div>
                    {% if  app.request.get('error')  is defined %}
                              {%if app.request.get('error') != "" %}
                          <br><br><br>
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{app.request.get('error')}}
                    </div>
                    {% endif %}
                    {% endif %}
                    
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Utilisateurs  <small>Ecrivez le nom de l'utilisateur </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nom </th>
                          <th>Prenom</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      {% if firstname %}
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>{{ lastname }} </td>
                          <td>{{ firstname }}</td>
                          <td><a class="btn btn-success btn-sm" href="{{path('user_persist',{'userName' : username})}}"> Ajouter Utilisateur </a></td>
                        </tr>
                      </tbody>
                    {% else %}
                        <tbody>
                        <tr>
                              <td colspan="4" style="text-align: center"> Aucun utilisateur </td>
                        </tr>
                      </tbody>

                    {% endif %}

                    </table>

                  </div>
                </div>
              </div>
                      {{ form_end(addForm) }}
                      <!-- Fin de l'affichage -->

                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Ajouter une liste de diffusion  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

<h1> Supprimer un utilisateur </h1>


  <table class="table table-bordered table-hover dataTable">
    <tr>
      <td> NOM </td>
      <td> PRENOM </td>
      <td> Ajouter </td>
    </tr>

  {% for user in users %}
      {% set data = user[0].userName | split('.') %}
   <tr>
      <td> {{ data[1] }} </td>
      <td>  {{ data[0] }} </td>
      <td> <a href="{{path('user_delete',{'userID' : user[0].Id })}}" class="btn btn-round btn-danger"> Supprimer Utilisateur </a> </td>

    </tr>
    {% endfor %}
  </table>

                  </div>
                  </div>
                </div>
              </div>
          
        </div>






<!-- fin d'integration du thème -->















{% endblock %}

     {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
