{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 478px;">


        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Ajouter un metier  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                     {% if success is defined %}
                        {% if success != null %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        {{  success }}                
                    </div>
                {%endif %}
        {%endif %}
        

                
                {% if errors is defined %}
                        {% if errors != null %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">

                                        <ul> 
                                        {% for error in errors %}
                                                <li> {{ error.message }} </li>
                                        {% endfor%}
                                        </ul>

                                    </div>
                {%endif %}
                        {%endif %}
                    
                     {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}
                     
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nom Metier  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.nomMetier, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                        
                          <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Liste des applications rattachés  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.applications, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                          
                           <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Etat d'activation 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.activationStatus)}} Activé
                        </div>
                      </div>
                           
                             <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Client 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form_widget(form.client, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                             
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Listes de diffusion 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form_widget(form.mailingLists, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                        
                        </div>
                            <input type="submit" value="Ajouter Metier" class="btn btn-round btn-success"> </input>
                        {{ form_end(form) }}


                  </div>
                </div>
              </div>
        </div>



        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Gestion des métiers  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>


<h1> Ajouter ou désactiver un métier </h1>


  <table class="table table-bordered table-hover dataTable">
    <tr>
      <td> NAME </td>
      <td> LIASON CLIENT </td>
      <td> ACTIF </td>
      <td> APPLICATIONS CONCERNEES </td>
      <td> ACTION </td>
    </tr>

    {% for clef, metier in metiers %}
    <tr>
        <td> {{ metier[0].nomMetier }} </td>
        <td> {{ metier[0].client.getClientName() }} </td>
        <td> {% if metier[0].activationStatus %} Activé {% else %} Désactivé {% endif %}  </td>
        <td>
          <ul style="list-style-type:none">
            {% for application in metier[0].applications %}
              <li>  {{application.nomApplication}} </li>
            {% endfor %}
          </ul>
         </td>
        <td>

               <a class="btn btn-round btn-info" href="{{path('metier_details',{'idMetier' : metier[0].id })}}"> Afficher détails </a> 
              <a  class="btn btn-round btn-warning" href="{{path('incident_add',{'idClient' : metier[0].id })}}"> Activer/Descativer </a> 
               <a class="btn btn-round btn-success" href="{{path('metier_update',{'idMetier' : metier[0].id })}}"> Mettre à jour </a> 
               <a class="btn btn-round btn-danger" href="{{path('metier_custom_add_metier',{'idMetier' : metier[0].id })}}"> Déclarer Incident </a> 
 
          </td>
    </tr>
    {% endfor %}

  </table>

                  </div>
                  </div>
                </div>
              </div>
        </div>

</div>





{% endblock %}

 {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}