{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

<h1> Envoyer un mail  </h1>




{{ form_start(addForm) }}
<label for="diffusion[destEnCopie][]"> Destinataire </label>
{{form_widget(addForm.destinataire, { 'attr' : { 'class' : 'form-control'}  })  }}
<label for="diffusion[destinataire]"> Destinataire en copie </label>
{{form_widget(addForm.destEnCopie, { 'attr' : { 'class' : 'select2_multiple form-control' ,'style' : 'height:200px;'}  })  }}
<label for="diffusion[sujet]"> Sujet </label>
{{form_widget(addForm.sujet, { 'attr' : { 'class' : 'form-control'}  })  }}
<label for="diffusion[destImpact]"> Destinataires d'impact  </label>
{{form_widget(addForm.destImpact, { 'attr' : { 'class' : 'form-control'}  })  }}


<br>

{{form_widget(addForm.contenu) }}




{{ form_widget(addForm) }}
<br>
<input type='submit' value="Envoyer" class="btn btn-success btn-lg">
{{ form_end(addForm) }}





                  </div>
                  </div>
                </div>
              </div>
        </div>




{% endblock %}

    {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
