{% extends 'dashboard.html.twig' %}
{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css"/>
  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 478px;">

	  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Vos Points de situations sur l'incident  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

										<table class="table table-bordered table-hover dataTable">
<tr>
<td> Action Réalisé </td>
<td> Date de l'action  </td>
<td> Prochaine Action </td>
<td> Date de fin prévue</td>
<td> Date prochain POS </td>
<td> Action </td>
</tr>

{% for pos in poss %}
	<tr>
		<td> {{ pos[0].realizedAction }} </td>
		<td> {{ pos[0].datePos | date("F jS \\a\\t g:ia","Europe/Paris") }} </td>
        <td> {{ pos[0].nextAction }} </td>
        <td>
					{% if  pos[0].resolutionDate!=null %}
					{{ pos[0].resolutionDate | date("F jS \\a\\t g:ia","Europe/Paris") }}
				{% else %}
					-
				{% endif %}
				</td>
		<td>
		{% if pos[0].nextPosDate !=null %}
			{{ pos[0].nextPosDate | date("F jS \\a\\t g:ia","Europe/Paris") }}
		{% else %}
			-
		{% endif %}
		</td>		
        <td> <a href="{{path('pos_delete',{'idIncident' : pos[0].incident.id, 'idPos' : pos[0].id })}}" class="btn btn-round btn-danger"> Delete POS </a>
				<a href="{{path('pos_update',{'idIncident' : pos[0].incident.id, 'idPos' : pos[0].id })}}" class="btn btn-round btn-info"> Update POS </a>
    </tr>


{% endfor %}

</table>


    </div>
 </div>
							</div>
							</div>





  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Ajouter un point de situation  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

  {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Action réalisée  <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.realizedAction, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
    </div>
 </div>

    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Prochaine Actions
</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.nextAction, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
    </div>
 </div>

		       <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Type de POS <span class="required">*</span>
                                </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          Date de prochain POS   {{ form_widget(form.isResolution, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none', 'id':'tg-button'} } )}}    Date de Résolution

                        </div>
                        </div>



                <div class="form-group" id="DR">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name" > Date de résolution <span class="required">*</span>
</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.resolutionDate)}}
    </div>
 </div>

        <div class="form-group" id="PP">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Date prochain Pos <span class="required">*</span>
</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.nextPosDate)}}
    </div>
 </div>

<input type="submit" class="btn btn-default" value="Ajouter POS"></input>
{{ form_end(form) }}


                  </div>
                </div>
              </div>
  </div>
</div>



{% endblock %}

 {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
