{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}
	
<div class="right_col" role="main" style="min-height: 478px;">
  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Ajouter un point de situation  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>


<h1> POS  </h1>
<table class="table table-bordered table-hover dataTable">
<tr>
<td> Action Réalisé </td>
<td> Date de l'action  </td>
<td> Prochaine Action </td>
<td> Date de fin prévue</td>
<td> Date prochain POS </td>
<td> Action </td>
</tr>

{% for pos in poss %}
	<tr>
		<td> {{ pos[0].realizedAction }} </td>
		<td> {{ pos[0].datePos | date("F jS \\a\\t g:ia","Europe/Paris") }} </td>
        <td> {{ pos[0].nextAction }} </td>
        <td>
					{% if  pos[0].resolutionDate!=null %}
					{{ pos[0].resolutionDate | date("F jS \\a\\t g:ia","Europe/Paris") }}
				{% else %}
					-
				{% endif %}
				</td>
		<td>
		{% if pos[0].nextPosDate !=null %}
			{{ pos[0].nextPosDate | date("F jS \\a\\t g:ia","Europe/Paris") }}
		{% else %}
			-
		{% endif %}
		</td>		
        <td> <a href="{{path('pos_delete',{'idIncident' : incident, 'idPos' : pos[0].id })}}" class="btn btn-round btn-danger"> Delete POS </a>
    </tr>
	  
	  
{% endfor %}

</table>

				  </div>
				  </div>
				</div>
			  </div>
  </div>




{% endblock %}

 {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
