{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Mettre A Jour un Impact  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    
   <!-- Affichage les messages d'erreurs ! -->
                    
                      {% if success is defined %}
                        {% if success != null %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        {{  success }}                
                    </div>
			{%endif %}
		{%endif %}
		
                {% if errors is defined %}
                        {% if errors != null %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">

                                        <ul> 
                                        {% for error in errors %}
                                                <li> {{ error.message }} </li>
                                        {% endfor%}
                                        </ul>

                                    </div>
                {%endif %}
		{%endif %}
                     {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}
                     
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="impact_client">Client  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.client, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                        
                          <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="impact_nomImpact">Titre <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.nomImpact, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                          
                           <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="impact_activationStatus"> Etat d'activation 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.activationStatus)}} Activé
                        </div>
                      </div>
                           
                             <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="impact_mailingList"> Listes de diffusion 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form_widget(form.mailingList, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                             
                            <input type="submit" value="Mettre à jour" class="btn btn-round btn-success"> </input>
                        {{ form_end(form) }}

                  </div>
                </div>
              </div>
        </div>
</div>





{% endblock %}

 {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}