{% extends 'dashboard.html.twig' %}

{% block header %}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}

{% set pageTitle = " Modifier Template "%}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Modifier Template </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

{{ form_start(form) }} 
<label> Client </label> <br>
{{ form_widget(form.client, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Nom Client' } }) }} <br/>


<label> Titre </label><br>
{{ form_widget(form.titre, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'exemple@cdiscount.com' } }) }}


<label> Addresse d'envoi </label> <br>
{{ form_widget(form.destinataires, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'exemple@cdiscount.com' } }) }}

<label> Adresses d'envoie en copie </label><br>
{{ form_widget(form.destEnCopie, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'exemple@cdiscount.com' } }) }}

<label> commentaires </label><br>
{{ form_widget(form.commentaire, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Sujet pour le mail' } }) }} <br>

<label> sujet </label><br>
{{ form_widget(form.sujet, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Sujet pour le mail' } }) }} <br>

<label> categorie </label><br>
{{ form_widget(form.categorie, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Sujet pour le mail' } }) }} <br>



<label> Variables personnalisés </label><br>
{{ form_widget(form.variables, {'attr' : {'class' : '', 'placeholder' : '' } }) }} <br>



<label> Template incident </label><br>
{{ form_widget(form.template, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Sujet pour le mail' } }) }} <br>



<input type="submit" class="btn btn-success" value="Ajouter Template"> </input>
{{ form_end(form) }}

                  </div>
                  </div>
                </div>
              </div>
        </div>

{% endblock %}

 {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
